################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Azure/.vs/Azure/v16/Server/sqlite3
